{% extends 'base.html.twig' %}

{% block title %}Guinot-immobilier{% endblock %}

{% block body %}

/ Accueil
    <div class = "jumbotron">
        <br> GUINOT IMMOBILIER:</br>
        <br> ACCESS LOCATION & VENTE D'APPARTEMENTS</br>
    </div>

<div class="container">

<h1> qui sommes nous ?</h1>

<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras enim enim, finibus at ante eget, commodo porta lorem. In feugiat tellus ut sollicitudin tempor. Aenean convallis rutrum nisi a molestie. Praesent cursus, arcu sit amet rhoncus dignissim, mauris ipsum fermentum dolor, a laoreet diam purus sit amet enim. Nullam tristique turpis eu felis pretium, vitae fermentum massa auctor. In efficitur enim vel dolor sodales, ac vehicula elit viverra. Nulla ut diam vel lacus porta consequat. Pellentesque fermentum cursus interdum. Integer in leo vitae metus lacinia facilisis quis ut leo. Etiam imperdiet felis aliquam purus convallis tempor. Cras auctor tellus non quam maximus pulvinar. Maecenas sollicitudin lacus quis gravida vestibulum. Sed eget dui ipsum. Etiam orci orci, sodales in convallis in, tempus quis orci. Donec luctus odio ut massa pretium, vel dapibus nunc convallis.</p>

</div>

{% endblock %}
