{% extends 'base.html.twig' %}

{% block title %}Guinot-immobilier-location{% endblock %}

{% block body %}

/ Location
    <div class = "jumbotron">
        <br> GUINOT IMMOBILIER: location</br>
        <br> ACCESS LOCATION & VENTE D'APPARTEMENTS</br>
    </div>

<div class="container">

<p> Nous sommes ravi de vous présenter notre page des locations</p>
<p></p>
    

</div>

{% endblock %}
