{% extends 'base.html.twig' %}

{% block title %}Guinot-immobilier{% endblock %}

{% block body %}

/ Accueil
    <div class = "jumbotron">
        <br> GUINOT IMMOBILIER:</br>
        <br> ACCESS LOCATION & VENTE D'APPARTEMENTS</br>
    </div>

<div class="container">

<p> Nous sommes ravi de vous présenter notre page des ventes</p>
<p></p>
    

</div>

{% endblock %}
